/node_modules
/extensions/*/node_modules/
/var/db.*.sqlite3
/var/sessions.*.json
/public/bundle.js
/public/vendor.bundle.js
/public/*.woff2
/public/*.woff
/public/*.ttf
/public/*.eot
/public/*.svg
/public/*.gif
/public/*.jpg
/public/*.md
/webpack.log
/es5
public/bundle.js.map
public/vendor.bundle.js.map
